$border: #d3e0e9;

.title-center, .text-center {
  text-align: center !important;
}
.profile_type_container {
  max-width: 700px;
  margin: 0 auto;
}


.div_center {
  min-width:  10px;
  margin:0 auto;
  width: auto;
  min-height: 10px;
  text-align: center !important;
}

.select_option {
  height: 50px;
  min-width: 10px;
  width: 100%;
  border-radius: 8px;
  background-color: #f5f5f5;
  -webkit-transition: background-color 0.5s;
 -moz-transition: background-color 0.5s;
 -o-transition: background-color 0.5s;
 transition: background-color 0.5s;
  border:1px solid $border;
  cursor: pointer;
}

.select_option:hover {
  -webkit-transition: background-color 0.5s;
 -moz-transition: background-color 0.5s;
 -o-transition: background-color 0.5s;
 transition: background-color 0.5s;
    background-color:white;
}



.select_option div {
  margin-top:15px;
}

.bottom_space {
  margin-bottom: 30px;
}

.selected-option {
  background-color: #d5d5d5;
}

.table.table-hover tbody tr:hover{
  cursor: pointer;
}

.container_design, .edit_profile_container {
  min-width: 10px;
  margin-top:30px !important;
  margin:0 auto;
  background-color:white;
  border:1px solid $border;
  min-height:100px;
  border-radius:10px;
}

.container_design div {
  padding: 15px;
}
